<mat-card  class="card">
    <mat-card-title class = "title">Enter University Email Address</mat-card-title>
    <form [formGroup]="sessionRegisterForm">
      <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field><br>
      <button mat-raised-button  class="button" [disabled]="!sessionRegisterForm.valid" (click)="registerSession()">Register</button>
    </form>
</mat-card>

