<div class="gfg">
    <img src="../../../assets/IMG_2137_2.jpg" width="100%" height="400">
    <h3 class="first-txt" ><b>News and Achievements </b></h3>
    <!-- <h3 class="first-txt" ><b>Send your Session Request to us</b></h3> -->
    <!-- <button mat-raised-button class="button2"  [routerLink]="['/programs/session-request']">Request to conduct sessions</button> -->
  </div>



<mat-card class="card"> 
    <form [formGroup] = "filterNewsForm" (submit) = "filterProgram()" >
    <div class="row">
    <div class="column"> 
      
        <select class="custom-select programCategory" aria-label="Default select example" formControlName="newsCate">
          <option value ="" >Choose Program Category</option>
          <option>Company</option>
          <option>CGU</option>
        </select>
      </div>
      <div class="column1">
      <button mat-raised-button  class="button">Search</button>
    </div>
</div>
</form>

    
  
 <!--   <mat-card class="card" role="list">
   
    <div></div> 
   <table  class="table table-hover">
       <thead>
         <tr>
           <th  scope="col">Title</th>
           <th scope="col">Description</th>
       </thead>
       <tbody>
         <tr *ngFor="let News of news">
           <td width="200px" ><span class="news">{{News.title}}</span></td>
           <td width="500px"><span>{{News.newsDescription}}</span></td>
         </tr>
         
       </tbody>
     </table >
   </mat-card>  -->

   <div class="row row-cols-2 row-cols-md-3 g-4 card-group" *ngFor="let News of news" [routerLink]="['/news/view',News.newsID]">
    
    <div class="col">
      <div class="card type-card height" >
        <!-- <img
          src="https://bmkltsly13vb.compat.objectstorage.ap-mumbai-1.oraclecloud.com/cdn.dailymirror.lk/assets/uploads/image_4fb100db7d.jpg"
          class="card-img-top" alt="..." /> -->
        <div class="card-body" >
          <h2 class="card-title">
            <a class="action-link" [routerLink]="['/news/view',News.newsID]">{{News.title}}</a>
          </h2>
          <p class="card-text">
            <span>{{(News.newsDescription.length>30)? (News.newsDescription | slice:0:600)+'...':(News.newsDescription)}}</span>
          </p>
        </div>
      </div>
    </div>
    

  
  
