.example-spacer {
    flex: 1 1 auto;
  }



.navbar-custom{
  background-color: #A52A2A;
}

.navbar-heading{
  color: white;
  font-size: 28px;
  font-family: Archivo Narrow;
}

.navbar-fields{
  /* text-align: right; */
  margin-left: auto; 
margin-right: 0;
}

.p{
  font-size:45px;
  font-weight: 100;
  color: white;
  margin-top: 7px;
}

.navbar-field{
  color: white;
  font-size: 19px;
  font-family: Archivo Narrow;
}
.langBtn{
  border-radius: 15px;
  height: 30px;
  margin-top: 5px;
  background-color: rgb(255, 0, 0);
  color: white;
  border-color: white;
  /* margin-left: 5px; */
}
.langBtn:hover{
  background-color: rgb(255, 174, 0);
}