
  <nav class="navbar navbar-expand-lg navbar-custom" >
    <div class="container-fluid">
      <a class="navbar-brand " href="#">
        <img src="./assets/Uni-logo.jpg" alt="" width="60" height="75" class="d-inline-block align-text-top">
      </a>
      <a class="navbar-brand navbar-heading" href="#"><span>Career Guidance Unit<br><br><b>University of Moratuwa</b></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav navbar-fields">
          <a class="nav-link active navbar-field" aria-current="page" href="#">HOME</a>
          <a class="nav-link active navbar-field" href="#">ABOUT US</a>
          <a class="nav-link active navbar-field" href="programs/list">PROGRAMS</a>
          <a class="nav-link active navbar-field" href="#">NEWS & ACHIEVEMENTS</a>
          <a class="nav-link active navbar-field" href="vacancies/list">VACANCIES</a>
          <a class="nav-link active navbar-field" href="consultation/">CONSULTATION</a>
          <a class="nav-link active navbar-field" href="#">LOGIN</a>
          
        </div>
      </div>
    </div>
  </nav>