

<mat-card  class="card">
  <mat-card-title class = "title">{{sessionType}}</mat-card-title>
  <mat-card-subtitle class="subTitle">Send Request</mat-card-subtitle>

  
  <form [formGroup]="requestConsultationForm" (submit)="sendRequest()" class="form"> 
      <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield">
        <mat-label>Undergraduate Email ( University Email )</mat-label>
        <input type="text" matInput formControlName="undergraduate_email"  />

		<!-- <div *ngif="(requestConsultationForm.get('undergraduate_email').invalid && requestConsultationForm.get('undergraduate_email').touched) || requestConsultationForm.get('undergraduate_email').dirty">
			<p class="text-danger" *ngif="requestConsultationForm.get('undergraduate_email').errors?.pattern">Email address is invalid</p>
      <small *ngif="requestConsultationForm.get('undergraduate_email').errors?.required" class="text-danger">Email is required</small> 
		</div> -->
     
      </mat-form-field> 
      
      <br>

      <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
        <mat-label>Select a Consultant</mat-label>
        <mat-select formControlName="consultant" >
          <mat-option *ngFor="let consultantDropdown of dropDown_list?.data" [value]="consultantDropdown">
            {{consultantDropdown.consultantFName+" "+consultantDropdown.consultantLName }}
          </mat-option>
          <!-- <mat-option>None</mat-option>
          <mat-option value="Mock Interview">Hashini Gamage</mat-option>
          <mat-option value="Round Table Discusstion">Menaka Wijewardana</mat-option>
          <mat-option value="Soft Skill Development">Dr. Nanayakkara LDJF</mat-option> -->
        </mat-select>
      </mat-form-field>
      <br>
      <br>
      
    <button mat-raised-button color="primary" class="share-button"  [disabled]="!requestConsultationForm.valid">Send Request</button>

  </form>
</mat-card>
