<div>
  <h1>{{ type }}</h1>
</div>

<mat-card class="form-card">
  <mat-card-title>Consultation Request</mat-card-title><br />
  <mat-card-content>
    <form [formGroup]="requestConsultationForm" (submit)="sendRequest()">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Undergraduate Email</mat-label>
        <input type="text" matInput formControlName="undergraduate_email" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected">
          <mat-option>None</mat-option>
          <mat-option value="Mock Interview">Mock Interview</mat-option>
          <mat-option value="Round Table Discusstion">Round Table Discusstion</mat-option>
          <mat-option value="Soft Skill Development">Soft Skill Development</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <p>You selected: {{selected}}</p> -->

      <!--       
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>University Name</mat-label>
            <input type="text" matInput formControlName="universityName" />
          </mat-form-field>
       
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Post</mat-label>
            <input type="text" matInput formControlName="post" />
          </mat-form-field>
        
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email Address</mat-label>
            <input type="email" matInput formControlName="email" />
          </mat-form-field> -->

      <button
        mat-raised-button
        color="primary"
        [disabled]="!requestConsultationForm.valid"
      >
        Send Request
      </button>
    </form>
  </mat-card-content>
</mat-card>
