.card {
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 130px;
  width: 600px;
  height: 380px;
}

.inputfield {
  margin-top: 10px;
  width: 545px;
  margin-left: 12px;
}

.share-button {
  margin-left: 230px;
  margin-bottom: 15px;
  background-color: #a52a2a;
}

.title {
  /* margin: auto;
    width: 50%;
    padding: 10px; */
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.subTitle {
  font-size: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.712);
}
