
<h1 class = "title">VACANCIES</h1>

<button  mat-raised-button class="share-button" color="primary" [routerLink] = "['/vacancies/create']" >Post vacancies</button>

<mat-card class="card1" *ngFor= "let vacancy of acceptedvacancies.data" style="flex: 1 1 auto;">
    <span class="vacancyTitle"><a class="action-link" [routerLink] = "['/vacancies/view',vacancy.vacancyId]"> <b>{{vacancy.vacancyTitle}}</b> </a></span> <br>
    <span class="companyName"> {{ vacancy.companyName }} </span> 
    <mat-card-content class="deadline">Deadline : {{vacancy.closingDate| date:'longDate'}}</mat-card-content>
    <mat-card-content ></mat-card-content>
</mat-card>


