.username{
    min-width: 250px;
    
}

.action-link{
    min-width: 300px;
    padding: 10px;
}

.card1{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    min-width: 350px;
    min-height:100px;
    /* float: left; */
    background-color: white;
}

.card2{
    margin-top: 50px;
}

.button{
    margin-left: 20px;
}

.button1{
    margin-left: 20px;
    background-color: limegreen;
}


table {
    width: 100%;
  }
