<mat-card class="user-details" *ngIf="programDetails" > 
  <h1><b>{{programDetails[0].programName}}</b></h1><br>
  <mat-card-content>
      
      <b class="topic">{{'viewPogram.Categoty'|translate}}</b><br><div>{{programDetails[0].programCat}}</div><br><br>
      <b class="topic">{{'viewPogram.Date'|translate}}</b><br><div>{{programDetails[0].programDate | date:'longDate'}}</div><br><br>
      <b class="topic">{{'viewPogram.Time'|translate}}</b><br><div>{{programDetails[0].programTime}}</div><br><br>
      <b class="topic">{{'viewPogram.Description'|translate}}</b><br><div class="desc">{{programDetails[0].programDesc}}</div><br><br>
      <button mat-raised-button class="button" (click)="onOpenDialogClick()" [disabled]="isPastDate">{{'viewPogram.Register Event'|translate}}</button><br><br><br>
  </mat-card-content>
</mat-card><br><br><br>


