<mat-card class="card">
  <mat-card-title class="title">Reset Password</mat-card-title>
  <br>
  <form [formGroup]="resetPwForm" (submit)="resetPassword()" class="form">

    <mat-form-field class="example-full-width" appearance="fill" class="inputfield">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill" class="inputfield">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="undergradPassword1">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <br>


    <mat-form-field appearance="fill" class="inputfield">
      <mat-label>Confirm Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="undergradPassword2">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <br>


    <div class="center"><button mat-raised-button color="primary" class="login-button"
        [disabled]="!resetPwForm.valid">Submit</button></div>

  </form>
</mat-card><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
