<div class="container">
<mat-card  class="card">
    <mat-card-title class = "title" >Sign Up</mat-card-title>
     <form [formGroup] = "addUserForm" (submit) = "createUser()" class = "form">
   
       <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
           <mat-label>First Name</mat-label>
           <input matInput formControlName="undergradFName">    
       </mat-form-field>
       <br>

       <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="undergradLName">
       </mat-form-field>
       <br>

       <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
       </mat-form-field>
       <br>
      
       <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="phone_number">
       </mat-form-field>
       <br>

       <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
          <mat-label>Faculty</mat-label>
          <input matInput formControlName="faculty">
       </mat-form-field>
       <br>

       <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
          <mat-label>Batch</mat-label>
          <input matInput formControlName="batch">
       </mat-form-field>
       <br>

       <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
         <mat-label>Batch2</mat-label>
         <input matInput formControlName="batch2">
      </mat-form-field>
      <br>
      
       <mat-form-field appearance="fill" class = "inputfield" >
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="undergradPassword"  id="undergradPassword">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
       </mat-form-field>
       <br>

       <mat-form-field appearance="fill" class = "inputfield" >
         <mat-label>Confirmed Password</mat-label>
         <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmpassword"  id="confirmpassword" >
         <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
         <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
       </button>
       
      </mat-form-field>
      <br>
   
      <div class ="center" ><button mat-raised-button color="primary" class="share-button"  [disabled]="!addUserForm.valid" >Sign Up</button></div>
     </form>
  </mat-card>

</div>








     <!-- <span  *ngIf="undergradFName.invalid">First Name is required</span> -->


  <!-- <div class="form-row">
   <div class="form-group col">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
         <div *ngIf="f.password.errors.required">Password is required</div>
         <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
      </div>
   </div>
   <div class="form-group col">
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
         <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
         <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
      </div>
   </div>
</div>
</div>
</div> -->


       <!-- <small  *ngIf="addUserForm.get('undergradFName').invalid && addUserForm.get('undergradFName').touched" class="text-danger">Name is required</small> -->