<div class="container">
<mat-card  class="card">
    <mat-card-title class = "title" >{{'Registration.title'|translate}}</mat-card-title>
     <form [formGroup] = "addUserForm" (submit) = "createUser()" class = "form">
   
       <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
           <mat-label>{{'Registration.First Name'|translate}}</mat-label>
           <input matInput formControlName="undergradFName">    
       </mat-form-field>
       <br>

       <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
          <mat-label>{{'Registration.Last Name'|translate}}</mat-label>
          <input matInput formControlName="undergradLName">
       </mat-form-field>
       <br>

       <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
          <mat-label>{{'Registration.Email'|translate}}</mat-label>
          <input matInput formControlName="email">
       </mat-form-field>
       <br>
      
       <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
          <mat-label>{{'Registration.Phone Number'|translate}}</mat-label>
          <input matInput formControlName="phone_number">
       </mat-form-field>
       <br>

       <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
          <mat-label>{{'Registration.Faculty'|translate}}</mat-label>
          <input matInput formControlName="faculty">
       </mat-form-field>
       <br>

       <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
          <mat-label>{{'Registration.Batch'|translate}}</mat-label>
          <input matInput formControlName="batch">
       </mat-form-field>
       <br>
      
       <mat-form-field appearance="fill" class = "inputfield" >
          <mat-label>{{'Registration.Password'|translate}}</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
       </mat-form-field>
       <br>

       <mat-form-field appearance="fill" class = "inputfield" >
         <mat-label>{{'Registration.ConfirmPassWord'|translate}}</mat-label>
         <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmpassword"  id="confirmpassword" >
         <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
         <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
         </button>  
      </mat-form-field>
      <br>


      
      <div class ="center" ><button mat-raised-button color="primary" class="share-button"  [disabled]="!addUserForm.valid" >{{'Registration.btn'|translate}}</button></div>
     </form>
  </mat-card>
</div>








    