<div class="gfg">
  <img src="../../../assets/career.jpg" width="100%" height="400" />
  <h3 class="first-txt"><b>Send your Session Request to us</b></h3>
  <button
    mat-raised-button
    class="button2"
    [routerLink]="['/programs/session-request']"
  >
    Request to conduct sessions
  </button>
</div>

<mat-card class="card">
  <h1 class="title">Student Programs</h1>
  <form [formGroup]="filterProgramForm" (submit)="filterProgram()">
    <div class="row">
      <div class="column">
        <select
          class="custom-select programCategory"
          aria-label="Default select example"
          formControlName="programCat"
        >
          <option value="">Choose Program Category</option>
          <option>Department</option>
          <option>CGU</option>
          <option>Workshops</option>
        </select>
      </div>
      <div class="column1">
        <button mat-raised-button class="filter-button">Search</button>
      </div>
    </div>
  </form>
</mat-card>
<br /><br /><br /><br />
<h1 class="main-title"><b>Upcoming Programs and Company Sessions</b></h1>
<br /><br />

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div style="background-color: rgb(135, 113, 120); padding: 10px">
        <h1 class="title">Upcoming Programs</h1>
        <mat-card
          class="card1"
          *ngFor="
            let program of programs
              | paginate: { id: 'upcoming', itemsPerPage: 5, currentPage: p }
          "
          style="flex: 1 1 auto"
        >
          <mat-card-content>
            <span class="programName"
              ><b>{{ program.programName }}</b></span
            >
            <br />
            <span class="programCat"> {{ program.programCat }}</span>
            <br /><br />
            <button
              mat-raised-button
              class="botton-seemore"
              [routerLink]="['/programs/viewprogram', program.programId]"
            >
              See More</button
            ><br /><br />
          </mat-card-content>
        </mat-card>
        <br />
        <pagination-controls
          class="my-pagination"
          (pageChange)="p = $event"
          id="upcoming"
        ></pagination-controls>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <div style="background-color: rgb(180, 92, 121); padding: 10px">
        <h1 class="title">Upcoming Company Sessions</h1>
        <mat-card
          class="card1"
          *ngFor="
            let session of listComSessions
              | paginate
                : { id: 'upcomingCom', itemsPerPage: 5, currentPage: p2 }
          "
          style="flex: 1 1 auto"
        >
          <mat-card-content>
            <span class="programName"
              ><b>{{ session.sessionTopic }}</b></span
            >
            <br />
            <span class="programCat">Company Session</span> <br /><br />
            <button
              mat-raised-button
              class="botton-seemore"
              [routerLink]="['/programs/viewsession', session.sessionId]"
            >
              See More</button
            ><br /><br />
          </mat-card-content>
        </mat-card>

        <br />
        <pagination-controls
          class="my-pagination"
          (pageChange)="p2 = $event"
          id="upcomingCom"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br />
<h1 class="main-title2"><b>Past Programs and Company Sessions</b></h1>
<br /><br />

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div style="background-color: rgb(135, 113, 120); padding: 10px">
        <h1 class="title">Past Programs</h1>
        <mat-card
          class="card1"
          *ngFor="
            let program of listPastPrograms
              | paginate: { id: 'past', itemsPerPage: 5, currentPage: p3 }
          "
          style="flex: 1 1 auto"
        >
          <mat-card-content>
            <span class="programName"
              ><b>{{ program.programName }}</b></span
            >
            <br />
            <span class="programCat"> {{ program.programCat }}</span>
            <br /><br />
            <button
              mat-raised-button
              class="botton-seemore"
              [routerLink]="['/programs/viewprogram', program.programId]"
            >
              See More</button
            ><br /><br />
          </mat-card-content>
        </mat-card>
        <br />
        <pagination-controls
          class="my-pagination"
          (pageChange)="p3 = $event"
          id="past"
        ></pagination-controls>
      </div>
    </div>

    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <div style="background-color: rgb(180, 92, 121); padding: 10px">
        <h1 class="title">Past Company Sessions</h1>
        <mat-card
          class="card1"
          *ngFor="
            let session of listPastComsessions
              | paginate: { id: 'pastCom', itemsPerPage: 5, currentPage: p4 }
          "
          style="flex: 1 1 auto"
        >
          <mat-card-content>
            <span class="programName"
              ><b>{{ session.sessionTopic }}</b></span
            >
            <br />
            <span class="programCat">Company Session</span> <br /><br />
            <button
              mat-raised-button
              class="botton-seemore"
              [routerLink]="['/programs/viewsession', session.sessionId]"
            >
              See More</button
            ><br /><br />
          </mat-card-content>
        </mat-card>
        <br />
        <pagination-controls
          class="my-pagination"
          (pageChange)="p4 = $event"
          id="pastCom"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
<br /><br />


