<!-- <div>
  <div data-tf-widget="SPI64U5f" data-tf-hide-headers data-tf-iframe-props="title=Satisfaction Form"
    data-tf-medium="snippet" style="width:100%;height:400px;"></div>
  <script src="//embed.typeform.com/next/embed.js"></script>
</div> -->
<img src="./assets/Home-page.jpg" alt="Home page" width="100%" />
<!-- <mat-card class="card"> -->
<h1 class="title">How are you satisfied with our site? </h1>
<!-- </mat-card> -->
<iframe src="https://ylgkviltedb.typeform.com/to/SPI64U5f" frameborder="0" width="100%" height="640vh"></iframe>
