<mat-card  class="card">

  
  <mat-card-title class = "title">Session Request</mat-card-title>
    <form [formGroup] = "sendRequestForm" (submit) = "sendRequest()" class = "form">
      <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyName">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill" class = "inputfield">
        <mat-label >Company Email</mat-label>
        <input matInput formControlName="companyEmail">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill" class = "inputfield">
        <mat-label >Session Topic</mat-label>
        <input matInput formControlName="sessionTopic">
        </mat-form-field>
        <br>
      <mat-form-field class="example-full-width" appearance="fill" class = "inputfield">
        <mat-label>Target Group</mat-label>
        <input matInput formControlName="TargetGroup">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill" class = "inputfield">
        <mat-label>Session Date</mat-label>
        <input matInput [matDatepicker]="picker" min="{{minDate}}" formControlName="sessionDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill" class = "inputfield">
        <mat-label>Session Description</mat-label>
        <textarea matInput formControlName="sessionDesc"></textarea>
      </mat-form-field>
      <br>
      <br>
      <button mat-raised-button color="primary" class="share-button" [disabled]="!sendRequestForm.valid">Send Request</button>
   </form>
  </mat-card>
