
<mat-card  class="card">
    <mat-card-title class = "title">Session Request</mat-card-title>
    <form [formGroup] = "sendRequestForm" (submit) = "sendRequest()" class = "form">
      <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyName">
      </mat-form-field>
  
      <br>
      <mat-form-field class="example-full-width" appearance="fill" class = "inputfield">
          <mat-label >Company Email</mat-label>
          <input matInput formControlName="companyEmail">
      </mat-form-field>
      <br>
      
      <!-- <mat-form-field appearance="fill" class = "inputfield">
        <mat-label>Company Type</mat-label>
        <mat-select formControlName="VacancyType">
          <mat-option *ngFor="let VacancyType of VacancyTypes" [value]="VacancyType.value" formControlName="VacancyType" >
            {{VacancyType.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br> -->
  
      <!-- <mat-form-field appearance="fill">
        <mat-label>Choose a Vacancy Type</mat-label>
        <mat-select formControlName="VacancyType">
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field> -->
      <!-- <input   type="text" matInput formControlName="VacancyType" >
            <mat-select class="custom-select" formControlName="VacancyType">
              <mat-option value="">Choose a Vacancy Type</mat-option>
              <option>Government</option>
              <option>Semi-government</option>
              <option>Private</option>
              <option>Internship</option>
              <option>Volunteer</option>
            </mat-select><br><br><br> -->

            <mat-form-field class="example-full-width" appearance="fill" class = "inputfield">
                <mat-label >Session Topic</mat-label>
                <input matInput formControlName="sessionTopic">
            </mat-form-field>
            <br>
  
      <mat-form-field class="example-full-width" appearance="fill" class = "inputfield">
          <mat-label>Target Group</mat-label>
          <input matInput formControlName="TargetGroup">
      </mat-form-field>
      <br>
  
      
  
      
      <mat-form-field class="example-full-width" appearance="fill" class = "inputfield">
        <mat-label>Session Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="sessionDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width" appearance="fill" class = "inputfield">
        <mat-label>Session Description</mat-label>
        <textarea matInput formControlName="sessionDesc"></textarea>
      </mat-form-field>
      <br>
      
      
      <!-- <img [src] = "url" height="200"><br>
      <input type="file" (change) ="onSelectFile($event)" formControlName="poster"> -->
       
      <!-- <mat-form-field class="example-full-width" appearance="fill" class = "inputfield">
            <mat-label>Upload Poster</mat-label>
            <label for="exampleFormControlFile1">Upload </label><br>
            <img [src]="url" height="200px" width="300px"><br><br>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="onSelectFile($event)"   formControlName="programImage"><br><br>
      </mat-form-field> -->
      <br>
  
      <button mat-raised-button color="primary" class="share-button">Send Request</button>
   
  
    </form>
  </mat-card>
