
 <mat-card  class="card">
    <mat-card-title class = "title">{{'ApplyVacancy.title'|translate}}</mat-card-title>
    <form [formGroup] = "applyVacancyForm"  (submit) = "applyVacancy()">

        <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
            <mat-label>{{'ApplyVacancy.Email'|translate}}</mat-label>
            <input matInput formControlName="undergrad_email">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
          <mat-label>{{'ApplyVacancy.Linkedin'|translate}}</mat-label>
          <input matInput formControlName="linkedin">
        </mat-form-field>
        <br>
        <br>
          
        <button mat-raised-button color="primary" class="share-button" [disabled]="!applyVacancyForm.valid" >{{'ApplyVacancy.Submit'|translate}}</button>

    </form>
</mat-card>