
 <mat-card  class="card">
    <mat-card-title class = "title">Apply for the Vacancy</mat-card-title>
    <form [formGroup] = "applyVacancyForm"  (submit) = "applyVacancy()">
        <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
            <mat-label>Email</mat-label>
            <input matInput formControlName="undergrad_email">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width" appearance="fill"  class = "inputfield" >
          <mat-label>Linkedin Profile Link</mat-label>
          <input matInput formControlName="linkedin">
        </mat-form-field>
        <br>
        <br>
          
        <!-- <mat-form-field class="example-full-width" appearance="fill" class = "inputfield"> 
           <mat-label>Upload Poster</mat-label>
          <label for="exampleFormControlFile1">Upload CV </label><br>
          <img [src]="url" height="200px" width="300px"><br><br>
          <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="onSelectFile($event)"   formControlName="programImage"><br><br>
      </mat-form-field> -->

      <button mat-raised-button color="primary" class="share-button">Submit</button>

    </form>
</mat-card>