
.user-details{
    margin: 20px;
   }

.card{
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 185px;
    width: 75%;
    padding-bottom: 20px;
  }
  
   .button{
       margin-left: 20px;
   }
   
.button1{
    /* margin-left: 15px; */
    background-color: #A52A2A;
    margin-left: 470px;
    margin-right: auto;
    
}
.vacancyTitle{
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
}
   
   .content{
       margin-bottom: 25px;
   }