<mat-card class = "user-details" *ngFor = "let vacancy of VacancyDetails.data"    > 
    <p></p>
    <mat-card-title class="title">Company Name</mat-card-title> 
    <mat-card-content class="content">{{vacancy.companyName}}</mat-card-content>
    <mat-card-title class="title">Company Email</mat-card-title>
    <mat-card-content class="content">{{vacancy.companyEmail}}</mat-card-content>
    <mat-card-title class="title">Vacancy Title</mat-card-title>
    <mat-card-content class="content">{{vacancy.vacancyTitle}}</mat-card-content>
    <mat-card-title class="title">Vacancy Description</mat-card-title>
    <mat-card-content class="content">{{vacancy.vacancyDesc}}</mat-card-content>
    <mat-card-title class="title">Application Closing Date</mat-card-title>
    <mat-card-content class="content">{{vacancy.closingDate}}</mat-card-content>
    <button mat-raised-button class="button1" color="primary" [routerLink] = "['/vacancies/accept',vacancy.vacancyId]">Apply Now</button> 
    <!-- <button mat-raised-button class = " button"color="warn" [routerLink] = "['/vacancies/delete',vacancy.vacancyId]">Reject</button> -->
</mat-card>

<mat-form-field appearance="fill">
    
  </mat-form-field>

